<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.UsersMapper">
	<select id="login" resultType="_int">
		SELECT COUNT(*) FROM USERS WHERE USERNAME=#{username} AND PASSWORD=#{password}
	</select>
	
	<select id="getUsers" resultType="Users">
		SELECT * FROM USERS WHERE USERNAME=#{username}
	</select>
	
	<insert id="join">
		INSERT INTO USERS
		(USERIDX, USERNAME, PASSWORD, ROLES)
		VALUES(users_seq.nextVal, #{username}, #{password}, #{roles})
	</insert>
</mapper>